.appContainer {
  background-color: transparent;
  overflow: hidden;
}

.root {
  background-color: #c3aad4fe;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.contentWrapper {
  gap: 20px;
  display: flex;
}

@media (width <= 991px) {
  .root {
    max-width: 100%;
  }

  .contentWrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}
