.dashboard {
  background-color: transparent;
  max-width: 978px;
  overflow: hidden;
}

.root {
  background-color: transparent;
  width: 100%;
}

@media (width <= 991px) {
  .root {
    max-width: 100%;
  }
}

.container {
  flex-direction: column;
  width: 100%;
  min-height: 666px;
  padding-top: 3px;
  padding-bottom: 17px;
  display: flex;
  position: relative;
}

@media (width <= 991px) {
  .container {
    max-width: 100%;
  }
}

.backgroundImage {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.content {
  margin-top: -5px;
  margin-left: 16px;
  margin-right: 15px;
  position: relative;
}

@media (width <= 991px) {
  .content {
    max-width: 100%;
    margin-right: 10px;
  }
}

.layout {
  display: flex;
  gap: 20px;
}

@media (width <= 991px) {
  .layout {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.mainContent {
  flex-direction: column;
  align-items: stretch;
  width: 81%;
  margin-left: 20px;
  line-height: normal;
  display: flex;
}

@media (width <= 991px) {
  .mainContent {
    width: 100%;
  }
}

.mainContainer {
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  min-height: 589px;
  padding: 9px 1px;
  display: flex;
  position: relative;
}

@media (width <= 991px) {
  .mainContainer {
    max-width: 100%;
    margin-top: 8px;
  }
}

.statsContainer {
  align-self: center;
  width: 100%;
  max-width: 712px;
  margin-top: 4px;
  position: relative;
}

@media (width <= 991px) {
  .statsContainer {
    max-width: 100%;
  }
}

.statsLayout {
  display: flex;
  gap: 20px;
}

@media (width <= 991px) {
  .statsLayout {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.divider {
  aspect-ratio: 19.61;
  object-fit: contain;
  object-position: center;
  width: 741px;
  margin-top: 11px;
  margin-right: 14px;
}

@media (width <= 991px) {
  .divider {
    max-width: 100%;
    margin-right: 10px;
  }
}

.performanceContainer {
  margin-left: 19px;
  margin-right: 12px;
  position: relative;
}

@media (width <= 991px) {
  .performanceContainer {
    max-width: 100%;
    margin-right: 10px;
  }
}

.performanceLayout {
  display: flex;
  gap: 20px;
}

@media (width <= 991px) {
  .performanceLayout {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}
