.platformMetricsSection {
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  margin-left: 0;
  line-height: normal;
  display: flex;
}

@media (width <= 991px) {
  .platformMetricsSection {
    width: 100%;
  }
}

.salesDynamicsSection {
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  margin-left: 20px;
  line-height: normal;
  display: flex;
}

@media (width <= 991px) {
  .salesDynamicsSection {
    width: 100%;
  }
}
