.projectItem {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 13px;
  width: 100%;
  background: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  color: #a2a7b3;
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: 600;
}

.icon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 9px;
  flex-shrink: 0;
}

.name {
  flex-grow: 1;
  flex-shrink: 1;
  width: 112px;
}

.active {
  background-color: #e4e9f0;
  border-radius: 3px 3px 0 0;
}

@media (width <= 991px) {
  .projectItem {
    margin-right: -2px;
  }
}
